@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
}

header {
  text-align: center;
}

h1 {
  align-self: center;
  font-style: italic;
  font-size: 50px;
  font-weight: lighter;
}

.ReactTable .rt-th div{
  outline: none;
}

.ReactTable .rt-th{
  height: 30px;
}

.ReactTable .rt-td {
  position: relative;
  box-sizing: border-box;
  height: 30px;
}

.ReactTable .delete-row {
  cursor: pointer;
}

.ReactTable .delete-row::after {
  content: "\274c";
  opacity: 0;
}

.ReactTable .delete-row:hover::after {
  opacity: 1;
  transition: opacity;
}
